[Desktop Entry]
Name=Patient Monitor
Comment=Medical Patient Monitor Demo
Icon=exec.png
TryExec=/usr/share/examples/HAMPDemo/PatientMonitorDemo/PatientMonitorDemo
Exec=/usr/share/examples/HAMPDemo/PatientMonitorDemo/PatientMonitorDemo
StartupNotify=true
Terminal=false
Type=Application
Categories=GTK;AudioVideo;Audio;Player;
X-MB-SingleInstance=true
